# Ignore the target directory (Rust build artifacts)
target/

# Ignore the pkg directory (WASM build output)
pkg/
solana-doa/reputation-doa/node_modules/
solana-doa/test-ledger/
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
redis/appendonly.aof